<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone Number</span>
        <input type="text" ng-model="user.number" placeholder="Enter phone number">
      </label>
      <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Send GPS Coordinates</ion-toggle>
    </div>
    <button class="button button-block button-large button-assertive" ng-click="sendHelpText()">
      Help
    </button>
    <button class="button button-block button-large button-positive">
      I'm Okay!
    </button>
  </ion-content>
</ion-view>
